//Variable file

$website-width: 1280px;
$main-color: #A1D0FF;
$light-color: #f4f4f4;
$medium-color: #0006BF;
$cream-bg: #c71400;
$dark-bg: #f4f4f4;
$dark-color: #333;
$bg-image: url('../img/blackcat.jpg');